<div class="user_table">
    <table class="ui striped table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Date Joined</th>
        <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>John Lilki</td>
        <td>September 14, 2013</td>
        <td>jhlilk22@yahoo.com</td>
        </tr>
        <tr>
        <td>Jamie Harington</td>
        <td>January 11, 2014</td>
        <td>jamieharingonton@yahoo.com</td>
        </tr>
        <tr>
        <td>Jill Lewis</td>
        <td>May 11, 2014</td>
        <td>jilsewris22@yahoo.com</td>
        </tr>    
  </div>