<div class="about-container">
    <div class="about-inner">
        <h1>About Us</h1>
        <hr/>
        <p>Fames ac turpis egestas integer eget aliquet. Tincidunt eget nullam non nisi est sit amet facilisis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. A cras semper auctor neque vitae tempus quam pellentesque nec. Convallis convallis tellus id interdum velit laoreet id donec ultrices. Lacus vel facilisis volutpat est velit egestas dui id. Laoreet id donec ultrices tincidunt arcu non sodales. Lectus sit amet est placerat in egestas erat. Justo nec ultrices dui sapien eget mi proin sed. Tellus in hac habitasse platea dictumst vestibulum rhoncus. Facilisi morbi tempus iaculis urna id. Volutpat odio facilisis mauris sit amet massa vitae. Egestas purus viverra accumsan in nisl. Ac tincidunt vitae semper quis lectus nulla at. Eu ultrices vitae auctor eu augue ut. In mollis nunc sed id semper. Enim nunc faucibus a pellentesque sit. Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Rutrum quisque non tellus orci ac. Nisi est sit amet facilisis magna etiam tempor orci eu.</p>
        <p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Nibh praesent tristique magna sit amet purus gravida quis. Massa eget egestas purus viverra accumsan in nisl. Dictum fusce ut placerat orci. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Pellentesque massa placerat duis ultricies lacus sed turpis. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. In vitae turpis massa sed. Ut ornare lectus sit amet est placerat. Non blandit massa enim nec dui nunc mattis enim. Elit ut aliquam purus sit amet luctus venenatis lectus magna. Neque vitae tempus quam pellentesque nec nam aliquam sem et. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Augue eget arcu dictum varius duis at. Sapien faucibus et molestie ac feugiat sed lectus.</p>
    </div>


    <div class="pic-holder">
        <div class="team-title">
            <h1>Our Team</h1>
            <hr/>
        </div>

        <div class= "img-div">
            <div class="pic-flex"><img id="first" onclick="toggleContent(event)" class="image_toggle"src="https://semantic-ui.com/images/avatar2/large/kristy.png"><div class="content">
                <h4>Ana</h4>Fames ac turpis egestas integer eget aliquet. Tincidunt eget nullam non nisi est sit amet facilisis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras.</div></div>
            <div class="pic-flex"><img id="second" onclick="toggleContent(event)" class="image_toggle"src="https://semantic-ui.com/images/avatar2/large/matthew.png"><div class="content">
                <h4>Tom</h4>Fames ac turpis egestas integer eget aliquet. Tincidunt eget nullam non nisi est sit amet facilisis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. </div></div>
            <div class="pic-flex"><img id="third" onclick="toggleContent(event)" class="image_toggle"src="https://semantic-ui.com/images/avatar2/large/molly.png"><div class="content">
                <h4>Noly</h4>Fames ac turpis egestas integer eget aliquet. Tincidunt eget nullam non nisi est sit amet facilisis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. </div></div>
            <div class="pic-flex"><img id="fourth"onclick="toggleContent(event)" class="image_toggle"src="https://semantic-ui.com/images/avatar/large/helen.jpg"><div class="content">
                <h4>Jihae</h4>Fames ac turpis egestas integer eget aliquet. Tincidunt eget nullam non nisi est sit amet facilisis. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. </div></div>
        </div>

    </div>
</div>