'<div class="ui card">'+
    '<div class="content">'+
        '<label><a class="ui teal right ribbon label">Squawk</a></label>'+
            '<div class="header head"><%=comment.comment_type%></div>'+
            '<div class="description"><p><%=comment.body%></p></div>'+
    '</div>'+
        '<div class="extra content">'+
            '<span class="left floated like">'+
                '<i class="like icon"></i>Like'+
            '</span>'+
        '</div>'+
'</div>'
