'<div id="comment-<%=comment.id %>" class="ui card">'+
    '<div class="content">'+
        '<label><a class="ui teal right ribbon label">Squawk</a></label>'+
            '<div class="header head"><%=comment.comment_type%></div>'+
            '<div class="description"><p><%=comment.body%></p></div>'+
    '</div>'+
        '<div class="extra content">'+
            '<span class="left floated like">'+
                '<i class="trash icon"></i>'+
                '<%= link_to "Destroy", comment_path(comment.id), method: :delete, remote:true, data: { confirm: "Are you sure?"}, class:"destroy" %>'+
            '</span>'+
        '</div>'+
'</div>'