#blur {
  background-image: url("http://i66.tinypic.com/2yzlzs1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  position: relative;
  top: 5%;
  .login-div {
    width: 50%;
    height: 750px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 1px 10px 45px 1px #080808;
    border-radius: 5px;
  }
  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2.5%;
  }
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;


  .log {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 45px 1px #080808;
    background: white;
    height: 350px;
    width: 33%;
    padding-top: 1%;
    border-radius: 5px;
  }
}

