#blur {
  background-image: url("http://i66.tinypic.com/2yzlzs1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  position: relative;
  top: 20%;
  .login-div {
    width: 27%;
    height: 450px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 1px 10px 45px 1px #080808;
    border-radius: 5px;
  }
  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15%;
  }
}

.input-field {
  width: 250px;
  height: 45px;
  input {
    width: 100%;
    height: 100%;
  }
}
.input-container {
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.new_user {
  height: 300px;
}
.signup-div {
  display: flex;
  justify-content: space-between;
}
.login-btn {
  input {
    width: 250px;
    height: 35px;
  }
}
