// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_content {
    width: 600px;
    margin-top: 10px;
    margin-left: 80px;

}
#card_profile {
    width: 350px;
    margin-left: 200px;
}

#crud {
    width: 1000px;
    margin-top: 100px;
    margin-left: 200px;
}

.comments {
    width: 649px;
    margin-left: 551px;
    margin-top: -572px;
   
}

.icon_image{
    width: 350px;
    height: 350px;
}