// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_content {
    width: 600px;
    margin-top: 10px;
    margin-left: 80px;

}
#card_profile {
    width: 350px;
}

#crud {
    width: 1000px;
    margin-top: 100px;
    margin-left: 200px;
}

.comments {
    width: 649px;
}

.icon_image{
    width: 350px;
    height: 350px;
}

#profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

//   About us / index.html.erb

.about-container{
    position: relative;
    top: 100px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 200px;
    hr{
        margin-bottom: 40px;
    }
}


.img-div{
    display: flex;
    justify-content: space-evenly;
}


.pic-flex{
    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: center;
}

.content{
    background-color: white;
    padding: 10px;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 5px;
   
}


.about-inner{
    margin: 0 auto;
    width: 91%;
    margin-bottom: 100px;
}

.image_toggle{
    border: 0;
    border-bottom: 3px solid purple;
    border-radius: 5px;
    width: 220px;
    height: 190px;
}


.team-title{
    width:91%;
    margin:0 auto;
}